Repository itskikat/tqs_project, pull requests merged in 2021-06, with the labels that each got.

#53 Feature/docker
  .dockerignore
  backend-distribution-platform/Dockerfile
  backend-distribution-platform/pom.xml
  backend-distribution-platform/src/main/resources/application.properties
  backend-distribution-platform/wait-for-it.sh
  docker-compose.yml
  frontend-distribution-platform/.dockerignore
  frontend-distribution-platform/Dockerfile
  frontend-distribution-platform/package.json
Labels: enhancement

#54 Feature/backend distribution/models
  backend-distribution-platform/Dockerfile
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/Business.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/BusinessService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/City.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/Client.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/District.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/Provider.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ProviderService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceContract.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceStatus.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceType.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/User.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/CityRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ClientRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/DistrictRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ProviderRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ProviderServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ServiceContractRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ServiceTypeRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/UserRepository.java
  backend-distribution-platform/src/main/resources/application.properties
Labels: Backend Distribution Platform, enhancement

#62 Feature/backend distribution/contracts
  backend-distribution-platform/pom.xml
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/ServiceManagementSystemApplication.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceContract.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceStatus.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/JsonUtil.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/ServiceManagementSystemApplicationTests.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestControllerUnitTest.java
Labels: Backend Distribution Platform

#63 Feature/backend distribution/services
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestControllerUnitTest.java
Labels: Backend Distribution Platform

#70 Update build.yml
  .github/workflows/build.yml
Labels: bug

#73 Feature/backend distribution/service service contracts
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/LoadDatabase.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/Business.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/BusinessService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/City.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/Client.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/District.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/Provider.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ProviderService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceContract.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceType.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/User.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ClientRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ProviderRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ServiceContractRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
  docker-compose.yml
Labels: Backend Distribution Platform

#74 Fix/backend distribution/post andput
  backend-distribution-platform/pom.xml
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ProviderServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
Labels: bug

#75 Feature/backend distribution/service service business
  backend-distribution-platform/pom.xml
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/BusinessService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ServiceContractRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ServiceTypeRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
Labels: Backend Distribution Platform

#78 Feature/backend distribution/business service repository tests
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepositoryTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
Labels: Backend Distribution Platform

#79 Feature/backend distribution/service contract filters
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/LoadDatabase.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceStatus.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceType.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ServiceContractRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/repository/ServiceContractRepositoryTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
Labels: Backend Distribution Platform

#82 Feature/backend distribution/business service filters
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/LoadDatabase.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/JwtRequestFilter.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/JwtResponse.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceContract.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ClientRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ProviderRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ServiceContractRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/UserController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/UserServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/API/UserRESTAPITest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/repository/ServiceContractRepositoryTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/UserServiceUnitTest.java
Labels: Backend Distribution Platform

#83 Feature/frontend distribution/show provider contracts
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/CorsConfig.java
  frontend-distribution-platform/package-lock.json
  frontend-distribution-platform/package.json
  frontend-distribution-platform/src/app/provider-requests-list /provider-requests-list.component.html
  frontend-distribution-platform/src/app/provider-requests-list /provider-requests-list.component.ts
  frontend-distribution-platform/src/app/shared/models/Business.ts
  frontend-distribution-platform/src/app/shared/models/BusinessService.ts
  frontend-distribution-platform/src/app/shared/models/Client.ts
  frontend-distribution-platform/src/app/shared/models/Provider.ts
  frontend-distribution-platform/src/app/shared/models/ProviderService.ts
  frontend-distribution-platform/src/app/shared/models/ServiceContract.ts
  frontend-distribution-platform/src/app/shared/models/ServiceContractPage.ts
  frontend-distribution-platform/src/app/shared/models/ServiceStatus.ts
  frontend-distribution-platform/src/app/shared/models/ServiceType.ts
  frontend-distribution-platform/src/app/shared/models/User.ts
  frontend-distribution-platform/src/app/shared/services/service-contract.service.spec.ts
  frontend-distribution-platform/src/app/shared/services/service-contract.service.ts
Labels: Backend Distribution Platform

#89 Final version of QA Manual
  documentation/TQS_QAManual.pdf
Labels: documentation

#96 Feature/backend distribution platform/logged
  .github/workflows/cd.yml
  README.md
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/UserResponse.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/UserController.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/API/UserRESTAPITest.java
  frontend-distribution-platform/src/app/@theme/components/header/header.component.ts
  frontend-distribution-platform/src/app/shared/models/User.ts
  frontend-distribution-platform/src/app/shared/services/auth.service.ts
Labels: Backend Distribution Platform, Frontend Distribution Platform, enhancement

#94 Feature/frontend distribution/business service
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/LoadDatabase.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/BusinessService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/JwtResponse.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceType.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ServiceTypeRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/GenericRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceType.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceTypeImpl.java
  backend-distribution-platform/src/main/resources/application.properties
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/repository/ServiceTypeRepositoryTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/GenericRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceTypeUnitTest.java
  frontend-distribution-platform/src/app/app-routing.module.ts
  frontend-distribution-platform/src/app/app.module.ts
  frontend-distribution-platform/src/app/business-menu.ts
  frontend-distribution-platform/src/app/business/business-service-edit-form/business-service-edit-form.component.html
  frontend-distribution-platform/src/app/business/business-service-edit-form/business-service-edit-form.component.scss
  frontend-distribution-platform/src/app/business/business-service-edit-form/business-service-edit-form.component.spec.ts
  frontend-distribution-platform/src/app/business/business-service-edit-form/business-service-edit-form.component.ts
  frontend-distribution-platform/src/app/business/business-service-form/business-service-form.component.html
  frontend-distribution-platform/src/app/business/business-service-form/business-service-form.component.scss
  frontend-distribution-platform/src/app/business/business-service-form/business-service-form.component.spec.ts
  frontend-distribution-platform/src/app/business/business-service-form/business-service-form.component.ts
  frontend-distribution-platform/src/app/business/business-service/business-service.component.html
  frontend-distribution-platform/src/app/business/business-service/business-service.component.scss
  frontend-distribution-platform/src/app/business/business-service/business-service.component.spec.ts
  frontend-distribution-platform/src/app/business/business-service/business-service.component.ts
  frontend-distribution-platform/src/app/provider-requests-list /provider-requests-list.component.html
  frontend-distribution-platform/src/app/shared/models/Business.ts
  frontend-distribution-platform/src/app/shared/models/BusinessService.ts
  frontend-distribution-platform/src/app/shared/models/BusinessServicePage.ts
  frontend-distribution-platform/src/app/shared/models/ServiceType.ts
  frontend-distribution-platform/src/app/shared/services/business-service.service.spec.ts
  frontend-distribution-platform/src/app/shared/services/business-service.service.ts
  frontend-distribution-platform/src/app/shared/services/service-contract.service.ts
  frontend-distribution-platform/src/app/shared/services/service-type-service.service.spec.ts
  frontend-distribution-platform/src/app/shared/services/service-type-service.service.ts
Labels: Backend Distribution Platform, Frontend Distribution Platform

#95 Feature/backend distribution/business statistics
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/LoadDatabase.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ServiceContractRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepositoryTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
Labels: Backend Distribution Platform

#100 Feature/backend distribution/provider statistics
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/LoadDatabase.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/BusinessService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ProviderRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ProviderServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/repository/ProviderServiceRepositoryTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
  docker-compose.yml
Labels: Backend Distribution Platform

#102 fix on data models
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ProviderServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
  frontend-distribution-platform/src/app/provider/provider-stats/orders-chart.service.ts
  frontend-distribution-platform/src/app/provider/provider-stats/orders-profit-chart.service.ts
  frontend-distribution-platform/src/app/provider/provider-stats/profit-chart.service.ts
  frontend-distribution-platform/src/app/provider/provider-stats/progress-section/progress-section.component.html
  frontend-distribution-platform/src/app/provider/provider-stats/progress-section/progress-section.component.ts
  frontend-distribution-platform/src/app/shared/models/ProviderStatistics.ts
  frontend-distribution-platform/src/app/shared/services/provider-service.service.ts
Labels: bug

#103 finished provider stats
  frontend-distribution-platform/src/app/app.module.ts
  frontend-distribution-platform/src/app/provider/provider-stats/charts-panel/chart-panel-header/chart-panel-header.component.ts
  frontend-distribution-platform/src/app/provider/provider-stats/charts-panel/charts-panel.component.html
  frontend-distribution-platform/src/app/provider/provider-stats/charts-panel/charts-panel.component.ts
  frontend-distribution-platform/src/app/provider/provider-stats/charts-panel/charts/charts-common.component.scss
  frontend-distribution-platform/src/app/provider/provider-stats/charts-panel/charts/orders-chart.component.ts
  frontend-distribution-platform/src/app/provider/provider-stats/charts-panel/charts/profit-chart.component.ts
  frontend-distribution-platform/src/app/provider/provider-stats/orders-chart.service.ts
  frontend-distribution-platform/src/app/provider/provider-stats/orders-profit-chart.service.ts
  frontend-distribution-platform/src/app/provider/provider-stats/profit-chart.service.ts
  frontend-distribution-platform/src/app/provider/provider-stats/progress-section/progress-section.component.html
  frontend-distribution-platform/src/app/provider/provider-stats/progress-section/progress-section.component.ts
  frontend-distribution-platform/src/app/shared/models/ProviderStatistics.ts
  frontend-distribution-platform/src/app/shared/services/provider-service.service.ts
Labels: Frontend Distribution Platform

#101 Feature/backend distribution/business statistics filters
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/BusinessService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ServiceContract.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/repository/BusinessServiceRepositoryTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
  frontend-distribution-platform/src/app/app-routing.module.ts
  frontend-distribution-platform/src/app/app.module.ts
  frontend-distribution-platform/src/app/business/business-stats/business-stats.component.html
  frontend-distribution-platform/src/app/business/business-stats/business-stats.component.ts
  frontend-distribution-platform/src/app/business/business-stats/charts-panel/chart-panel-header/chart-panel-header.component.ts
  frontend-distribution-platform/src/app/business/business-stats/charts-panel/charts-panel.component.html
  frontend-distribution-platform/src/app/business/business-stats/charts-panel/charts-panel.component.ts
  frontend-distribution-platform/src/app/business/business-stats/charts-panel/charts/charts-common.component.scss
  frontend-distribution-platform/src/app/business/business-stats/charts-panel/charts/orders-chart.component.ts
  frontend-distribution-platform/src/app/business/business-stats/charts-panel/charts/profit-chart.component.ts
  frontend-distribution-platform/src/app/business/business-stats/progress-section/business-section.component.html
  frontend-distribution-platform/src/app/business/business-stats/progress-section/business-section.component.ts
  frontend-distribution-platform/src/app/business/business-stats/progress-section/progress-section.component.ts
  frontend-distribution-platform/src/app/shared/models/BusinessStatistics.ts
  frontend-distribution-platform/src/app/shared/services/business-service.service.ts
Labels: Backend Distribution Platform, enhancement

#107 Web sockets working!
  backend-distribution-platform/pom.xml
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/CorsConfig.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/WebSecurityConfig.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/WebSocketConfig.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/messaging/NotificationController.java
  backend-distribution-platform/src/main/resources/application.properties
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ServiceServiceUnitTest.java
  frontend-distribution-platform/package-lock.json
  frontend-distribution-platform/package.json
  frontend-distribution-platform/src/app/app.component.ts
  frontend-distribution-platform/src/index.html
Labels: Backend Distribution Platform, Frontend Distribution Platform, enhancement

#108 Feature/backend distribution/provider user manager
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/WebSecurityConfig.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/ProviderService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/BusinessRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ProviderRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessUserRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderUserRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/BusinessUserService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/BusinessUserServiceImpl.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ProviderUserService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ProviderUserServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderUserRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ProviderUserServiceTest.java
Labels: Backend Distribution Platform

#114 Feature/backend distribution/dynamic matches
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/LoadDatabase.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/model/Client.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ProviderServiceRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/repository/ServiceContractRepository.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ClientRestControllerUnitTest.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderUserRestControllerUnitTest.java
Labels: Backend Distribution Platform

#118 Feature/backend distribution/business service it
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/API/BusinessRESTAPITestIT.java
  backend-distribution-platform/src/test/resources/deti/tqs/g305/servicemanagement/integration/application-integrationtest.properties
Labels: Backend Distribution Platform

#120 Feature/frontend distribution/register
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/LoadDatabase.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/WebSecurityConfig.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/BusinessUserRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ProviderUserRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/BusinessUserService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/BusinessUserServiceImpl.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ClientUserServiceImpl.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ProviderUserServiceImpl.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceImpl.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ServiceServiceTypeImpl.java
  frontend-distribution-platform/src/app/business/business-api/business-api.component.html
  frontend-distribution-platform/src/app/business/business-api/business-api.component.ts
  frontend-distribution-platform/src/app/business/business-service/business-service.component.ts
  frontend-distribution-platform/src/app/provider/provider-profile/provider-profile.component.html
  frontend-distribution-platform/src/app/provider/provider-profile/provider-profile.component.ts
  frontend-distribution-platform/src/app/provider/provider-requests-list /provider-requests-list.component.ts
  frontend-distribution-platform/src/app/register-business/register-business.component.html
  frontend-distribution-platform/src/app/register-business/register-business.component.ts
  frontend-distribution-platform/src/app/register-provider/register-provider.component.html
  frontend-distribution-platform/src/app/register-provider/register-provider.component.ts
  frontend-distribution-platform/src/app/shared/components/login/login.component.html
  frontend-distribution-platform/src/app/shared/models/Provider.ts
  frontend-distribution-platform/src/app/shared/models/User.ts
  frontend-distribution-platform/src/app/shared/services/business-service.service.ts
  frontend-distribution-platform/src/app/shared/services/provider-service.service.ts
Labels: Frontend Distribution Platform

#121 Feature/backend distribution/provider it
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/API/ProviderRESTAPITestIT.java
Labels: Backend Distribution Platform

#123 Feature/backend distribution/client it
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/API/ClientRESTAPITestIT.java
Labels: Backend Distribution Platform

#125 Feature/frontend end user/register edit with location
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/CorsConfig.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/JwtRequestFilter.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/WebSecurityConfig.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/configuration/WebSocketConfig.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/restcontroller/ClientUserRestController.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ClientUserService.java
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/service/ClientUserServiceImpl.java
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/service/ClientUserServiceUnitTest.java
  backend-end-user/src/main/java/deti/tqs/g305/handymanservicesapp/configuration/WebSecurityConfig.java
  backend-end-user/src/main/java/deti/tqs/g305/handymanservicesapp/controller/GeneralController.java
  backend-end-user/src/main/java/deti/tqs/g305/handymanservicesapp/controller/UserController.java
  backend-end-user/src/main/java/deti/tqs/g305/handymanservicesapp/model/Client.java
  backend-end-user/src/main/java/deti/tqs/g305/handymanservicesapp/service/GeneralService.java
  backend-end-user/src/main/java/deti/tqs/g305/handymanservicesapp/service/UserService.java
  backend-end-user/src/test/java/deti/tqs/g305/handymanservicesapp/controller/GeneralControllerUnitTest.java
  backend-end-user/src/test/java/deti/tqs/g305/handymanservicesapp/controller/UserControllerUnitTest.java
  backend-end-user/src/test/java/deti/tqs/g305/handymanservicesapp/service/GeneralServiceUnitTest.java
  backend-end-user/src/test/java/deti/tqs/g305/handymanservicesapp/service/UserServiceUnitTest.java
  frontend-end-user/src/app/app-routing.module.ts
  frontend-end-user/src/app/service/auth/register/register.component.html
  frontend-end-user/src/app/service/auth/register/register.component.ts
  frontend-end-user/src/app/service/navbar/index-navbar.component.html
  frontend-end-user/src/app/shared/models/City.ts
  frontend-end-user/src/app/shared/models/Client.ts
  frontend-end-user/src/app/shared/models/District.ts
  frontend-end-user/src/app/shared/services/auth.service.ts
  frontend-end-user/src/app/shared/services/general.service.ts
Labels: Backend End Service, Frontend End Service

#128 Updated README links
  README.md
Labels: documentation, enhancement
