Repository itskikat/tqs_project, pull requests merged in 2021-05, with the labels that each got.

#25 Dev/frontend/service/homepage
  frontend-end-user/src/app/app-routing.module.ts
  frontend-end-user/src/app/app.module.ts
  frontend-end-user/src/app/service/footer/footer.component.html
  frontend-end-user/src/app/service/footer/footer.component.ts
  frontend-end-user/src/app/service/index/index.component.html
  frontend-end-user/src/app/service/index/index.component.ts
  frontend-end-user/src/app/service/navbar/index-navbar.component.html
  frontend-end-user/src/app/service/navbar/index-navbar.component.ts
  frontend-end-user/src/assets/img/plumber.jpg
Labels: Frontend End Service

#43 Setup Github Actions
  .github/workflows/build.yml
  frontend-distribution-platform/sonar-project.properties
Labels: Frontend Distribution Platform

#44 Setup Github Actions
  .github/workflows/build.yml
  frontend-end-user/sonar-project.properties
Labels: Frontend End Service

#45 Setup Github Actions
  .github/workflows/build.yml
  backend-distribution-platform/.gitignore
  backend-distribution-platform/.mvn/wrapper/MavenWrapperDownloader.java
  backend-distribution-platform/.mvn/wrapper/maven-wrapper.jar
  backend-distribution-platform/.mvn/wrapper/maven-wrapper.properties
  backend-distribution-platform/mvnw
  backend-distribution-platform/mvnw.cmd
  backend-distribution-platform/pom.xml
  backend-distribution-platform/src/main/java/deti/tqs/g305/servicemanagement/ServiceManagementSystemApplication.java
  backend-distribution-platform/src/main/resources/application.properties
  backend-distribution-platform/src/test/java/deti/tqs/g305/servicemanagement/ServiceManagementSystemApplicationTests.java
Labels: Backend Platform

#46 Fixed Github Actions
  backend-distribution-platform/pom.xml
Labels: Backend Distribution Platform

#49 Setup backend-end-user template
  backend-end-user/.gitignore
  backend-end-user/.mvn/wrapper/MavenWrapperDownloader.java
  backend-end-user/.mvn/wrapper/maven-wrapper.jar
  backend-end-user/.mvn/wrapper/maven-wrapper.properties
  backend-end-user/mvnw
  backend-end-user/mvnw.cmd
  backend-end-user/pom.xml
  backend-end-user/src/main/java/deti/tqs/g305/handymanservicesapp/HandymanServicesAppApplication.java
  backend-end-user/src/main/resources/application.properties
  backend-end-user/src/test/java/deti/tqs/g305/handymanservicesapp/HandymanServicesAppApplicationTests.java
Labels: Backend End Service

#50 Setup Github Actions
  .github/workflows/build.yml
  README.md
  backend-end-user/pom.xml
Labels: Backend End Service
